# --------------------------------
# Python junk
# --------------------------------
__pycache__/
*.pyc

# --------------------------------
# Virtual environment
# --------------------------------
venv/
.venv/

# --------------------------------
# Python version file (pyenv)
# --------------------------------
.python-version

# --------------------------------
# Model weights directory
# Keep folder, ignore contents
# --------------------------------
weights/*
!weights/.gitkeep

# --------------------------------
# Dataset directory
# Keep folder, ignore contents
# --------------------------------
data/*
!data/.gitkeep

# --------------------------------
# Generated outputs
# Keep folder, ignore contents
# --------------------------------
outputs/*
!outputs/.gitkeep

# --------------------------------
# Streamlit cache
# --------------------------------
.streamlit/

# --------------------------------
# Mac junk
# --------------------------------
.DS_Store

# --------------------------------
# Scripts/Notes
# --------------------------------
tools/