# Python junk
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Model weights
weights/

# Dataset folders
data/

# Outputs
*.csv
*.xlsx

# Streamlit cache
.streamlit/

# Mac junk
.DS_Store

# Ignore generated outputs
outputs/
*.csv
*.png

