# Python junk
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Model weights
weights/

# Dataset folders
data/

# Ignore generated outputs
outputs/

# Streamlit cache
.streamlit/

# Mac junk
.DS_Store


